body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #F6F6F6;
  height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 24px;
  color: #555;
  background-color: #f8f8f8;
}